@import url("https://fonts.googleapis.com/css2?family=Noto+Sans&family=Roboto&display=swap");

body {
  height: 100vh;
  margin: 0;
  font-family: "Roboto", sans-serif;
}

body {
  display: flex;
  flex-direction: column;
}

.content {
  flex: 1;
}

/* header container */

.header-container {
  display: flex;
  flex-direction: column;
}

.header-container .header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #1f2937;
  color: #f9faf8;
}

.header-logo {
  font-size: 24px;
  font-weight: bold;
}

.header-links {
  list-style-type: none;
  display: flex;
  gap: 15px;
}

a {
  text-decoration: none;
  color: #e5e7eb;
  font-size: 18px;
}
