@import url("https://fonts.googleapis.com/css2?family=Noto+Sans&family=Roboto&display=swap");

* {
  box-sizing: border-box;
}

body {
  height: 100vh;
  margin: 0;
  font-family: "Roboto", sans-serif;
}

body {
  display: flex;
  flex-direction: column;
}

.content {
  flex: 1;
}

/* header container */

.header-container {
  display: flex;
  flex-direction: column;
}

.header-container .header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #1f2937;
  color: #f9faf8;
}

.header-logo {
  font-size: 24px;
  font-weight: bold;
}

.header-links {
  list-style-type: none;
  display: flex;
  gap: 15px;
}

a {
  text-decoration: none;
  color: #e5e7eb;
  font-size: 18px;
}

/* hero-container */

.hero-header .hero-header-img {
  height: 210px;
  width: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #61677a;
  color: #e5e7eb;
}

.header-container .hero-header {
  background-color: #1f2937;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 130px;
  padding: 80px;
}

.hero-header .hero-title {
  font-size: 48px;
  font-weight: bolder;
  color: #f9faf8;
}

.hero-header .hero-subtext {
  font-size: 18px;
  color: #e5e7eb;
}

.hero-header button {
  background-color: #3882f6;
  width: 125px;
  height: auto;
  font-size: 20px;
  padding: 4px;
  color: #f9faf8;
  border-radius: 9px;
  font-weight: 600;
  border-color: #3882f6;
}

.hero-header .hero-header-content {
  width: 400px;
  display: flex;
  flex-direction: column;
  gap: 15px;
  padding: 15px;
}

/* information container */

.information-container {
  margin-bottom: 55px;
}

.information-container .title {
  font-size: 36px;
  font-weight: bolder;
  color: #1f2937;
  margin-top: 32px;
  margin-bottom: 16px;
  text-align: center;
}

.img {
  border: 3px solid #3882f6;
  height: 130px;
  width: 145px;
  border-radius: 12px;
}

.text {
  color: #61677a;
  margin-top: 12px;
}

.img-container {
  display: flex;
  justify-content: center;
  gap: 57px;
  padding: 20px;
  flex-wrap: wrap;
}

.img-container .item {
  text-align: center;
  flex-basis: 145px;
}

/* quote-container */

.quote-container {
  background-color: #e5e7eb;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 75px;
}

.quote-container .quote {
  font-size: 36px;
  font-style: italic;
  color: #1f2937;
  width: 822px;
  font-weight: lighter;
}

.quote-container .author-name {
  font-weight: 900;
  font-size: 24px;
  margin-left: 480px;
}

/* call-to-action-container */

.call-to-action-container {
  padding: 85px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.call-to-action-flex-container {
  background-color: #3882f6;
  display: flex;
  padding: 45px;
  border-radius: 11px;
  justify-content: space-around;
  align-items: center;
  width: 963px;
}

.call-to-action-content .call-to-action-title {
  color: #f9faf8;
  font-size: 20px;
  font-weight: 500;
}

.call-to-action-content .call-to-action-text {
  color: #f9faf8;
  font-size: 15px;
}

.call-to-action-button {
  border: 2px solid #f9faf8;
  width: 118px;
  /* text-align: center; */
  border-radius: 5px;
  color: #f9faf8;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 31px;
}
