@import url("https://fonts.googleapis.com/css2?family=Noto+Sans&family=Roboto&display=swap");

body {
  height: 100vh;
  margin: 0;
  font-family: "Roboto", sans-serif;
}

body {
  display: flex;
  flex-direction: column;
}

.content {
  flex: 1;
}

/* header container */

.header-container {
  display: flex;
  flex-direction: column;
}

.header-container .header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #1f2937;
  color: #f9faf8;
}

.header-logo {
  font-size: 24px;
  font-weight: bold;
}

.header-links {
  list-style-type: none;
  display: flex;
  gap: 15px;
}

a {
  text-decoration: none;
  color: #e5e7eb;
  font-size: 18px;
}

/* hero-container */

.hero-header .img {
  height: 174px;
  width: 415px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #61677a;
  color: #e5e7eb;
}

.header-container .hero-header {
  background-color: #1f2937;
}

.hero-header .hero-title {
  font-size: 48px;
  font-weight: bolder0;
  color: #f9faf8;
}

.hero-header .hero-subtext {
  font-size: 18px;
  color: #e5e7eb;
}

.hero-header button {
  background-color: #3882f6;
  width: 134px;
  height: auto;
  font-size: 20px;
  padding: 4px;
  color: #f9faf8;
  border-radius: 9px;
  font-weight: 600;
}
